* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  height: 10vh;
  width: 10vh;
  background-color: coral;
  position: absolute;
  z-index: 1;
  justify-content: flex-start;
}
